
@{
    ViewBag.Title = "AddCustomer";
}

<h2>Add Customer</h2>

<form action="ViewCustomer">
    <p>
        Name: <input type="text" name="Name" />
    </p>
    <p>
        Phone Number: <input type="text" name="PhoneNumber"/>
    </p>
    <input type="submit" value="Add" />
</form>

